CANMYPET_VERSION=
POSTGRES_USER=canmypet_user
POSTGRES_PASSWORD=
USER_SERVICE_DB=canmypet_users
USER_SERVICE_PORT=8091
FOOD_SERVICE_DB=canmypet_foods
FOOD_SERVICE_PORT=8083
GATEWAY_PORT=8080
JWT_SECRET=
JWT_EXPIRATION_MS=86400000
ADMIN_EMAIL=
ADMIN_PASSWORD=
PUBLIC_API_KEYS=
SPRING_PROFILES_ACTIVE=dev